.payment-details {
    margin-top: 10px;
  }
  h1 {
    color:#ba005c !important;
    margin-bottom: 16px;
    text-align: center;
    font-size: 32px;
  }
  
  mat-radio-button {
    color: #444 !important;;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 28px; 
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 24px; 
    }
  }