.chat-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f1e7;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.chat-header {
  text-align: center;
  margin-bottom: 20px;
  color: #ba005c; 
}

h2{
  font-size: 36px;
}

.chat-body {
  display: flex;
  justify-content: space-between;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-list-container,
.advisor-list-container {
  width: 100%;
  margin-bottom: 20px;
}

.user-list-container h3,
.advisor-list-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ba005c; 
  border-bottom: 2px solid #ba005c; 
  padding-bottom: 5px;
}

mat-list {
  background-color: #fff;
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

mat-list-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px; 
  display: flex;
  align-items: center; 
  font-size: 25px; 
  gap: 10px;
}

mat-list-item mat-icon {
  color: #ba005c; 
  font-size: 30px; 
  margin-right: 15px; 
  display: flex;
  align-items: center;
}

mat-list-item div {
  flex: 1; 
  display: flex;
  align-items: center;
}

mat-list-item:hover {
  background-color: #e4cbcf; 
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  .chat-body {
    flex-direction: column; 
  }

  .user-list-container h3,
  .advisor-list-container h3 {
    font-size: 1.25rem;
  }

  mat-list-item {
    font-size: 1rem;
    padding: 8px;
  }

  mat-list-item mat-icon {
    font-size: 20px; 
    margin-right: 10px; 
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.25rem;
  }

  mat-list-item {
    font-size: 0.9rem;
    padding: 6px;
  }

  mat-list-item mat-icon {
    font-size: 18px; 
    margin-right: 8px; 
  }

  .chat-container {
    padding: 10px; 
  }

  .user-list-container h3,
  .advisor-list-container h3 {
    font-size: 1rem;
  }
}